@model Produto
@{
    ViewData["Title"] = "Home Page";
}

<h1>Adicionar novo produto</h1>
<form method="post" class="w-50 m-auto" asp-controller="Home" asp-action="Create">
    <label class="form-label" asp-for="Name">Nome:</label>
    <input required class="form-control m-2" asp-for="Name"/>
    <label class="form-label" asp-for="Price">Preço:</label>
    <input required class="form-control m-2" asp-for="Price" type="number" step="0.01" />
    <button class="form-control m-2 btn btn-primary" type="submit">Adicionar</button>
</form>
