@model Produto
@{
    ViewData["Title"] = "Atualizando" + Model.Name;
}

<form method="post" class="w-50 m-auto" asp-action="Atualiza" asp-controller="Home">
    <input required type="hidden" asp-for="Id"/>
    <label asp-for="Name">Nome:</label>
    <input required class="form-control" type="text" asp-for="Name" />
    <label asp-for="Price">Preço:</label>
    <input required class="form-control" type="number" step="0.01" asp-for="Price" />
    <button type="submit">Atualizar</button>
</form>